<!--Header-->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">Notification V2</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/dashboard">Dashboard</a>
    <a class="p-2 text-dark" routerLink="/registration">Registration</a>
    <a class="p-2 text-dark" routerLink="/notification">Notification</a>
  </nav>
  <a class="btn btn-outline-primary" routerLink="/login">Sign Out</a>
</div>

<!--Main-->
<main role="main" class="container">

  <ngb-tabset [justify]="currentJustify">

    <ngb-tab title="Broadcast">
      <ng-template ngbTabContent>

        <div class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">

              <select class="custom-select d-block w-100 form-control" id="notification-type" required="" ngbTooltip="Kind of Notification e.g. Push or In-App" [(ngModel)]="notification.Kind">
                <option value="">Choose a kind...</option>
                <option *ngFor="let kind of kinds" [ngValue]="kind" ngDefaultControl>{{ kind }}</option>
              </select>

            </div>
          </div>
        </div>

        <div class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">

              <select class="custom-select d-block w-100 form-control" id="notification-type" required="" ngbTooltip="Type of Notification e.g. Badge or Quiz" [(ngModel)]="notification.Type">
                <option value="">Choose a type...</option>
                <option *ngFor="let type of types" [ngValue]="type" ngDefaultControl>{{ type }}</option>
              </select>

            </div>
          </div>
        </div>

        <div *ngIf="notification?.Type === 'Poll'" class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">

              <select class="custom-select d-block w-100 form-control" id="notification-poll" required="" ngbTooltip="Poll e.g. Poll1 or Poll2" [(ngModel)]="notification.PollId">
                <option value="">Choose a poll...</option>
                <option *ngFor="let poll of polls" [ngValue]="poll.Id" ngDefaultControl>{{ poll.Name }}</option>
              </select>

            </div>
          </div>
        </div>

        <div *ngIf="notification?.Type === 'Forum'" class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">

              <select class="custom-select d-block w-100 form-control" id="notification-forum" required="" ngbTooltip="Forum e.g. Forum1 or Forum2" [(ngModel)]="notification.ForumId">
                <option value="">Choose a forum...</option>
                <option *ngFor="let forum of forums" [ngValue]="forum.Id" ngDefaultControl>{{ forum.Name }}</option>
              </select>

            </div>
          </div>
        </div>

        <div *ngIf="notification?.Type === 'Topic'" class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">

              <select class="custom-select d-block w-100 form-control" id="notification-reward" required="" ngbTooltip="Topic e.g. Topic1 or Topic2" [(ngModel)]="notification.TopicId">
                <option value="">Choose a topic...</option>
                <option *ngFor="let topic of topics" [ngValue]="topic.Id" ngDefaultControl>{{ topic.Name }}</option>
              </select>

            </div>
          </div>
        </div>

        <div *ngIf="notification?.Type === 'Reward'" class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">

              <select class="custom-select d-block w-100 form-control" id="notification-reward" required="" ngbTooltip="Reward e.g. Coupon for Starbucks or Voucher for Walmart" [(ngModel)]="notification.RewardId">
                <option value="">Choose a reward...</option>
                <option *ngFor="let reward of rewards" [ngValue]="reward.Id" ngDefaultControl>{{ reward.Name }}</option>
              </select>

            </div>
          </div>
        </div>

        <div *ngIf="notification?.Type === 'Badge'" class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">

              <select class="custom-select d-block w-100 form-control" id="notification-reward" required="" ngbTooltip="Badge e.g. Fit to Fly or Comet Rider" [(ngModel)]="notification.BadgeId">
                <option value="">Choose a badge...</option>
                <option *ngFor="let badge of badges" [ngValue]="badge.Id" ngDefaultControl>{{ badge.Name }}</option>
              </select>

            </div>
          </div>
        </div>

        <div class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <input [(ngModel)]="notification.Title" class="form-control" id="notification-title" type="text" placeholder="Notification Title" ngbTooltip="Notification Title e.g. Enthu Cookie" ngDefaultControl>
            </div>
          </div>
        </div>

        <div class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <input [(ngModel)]="notification.Description" class="form-control" id="notification-description" type="text" placeholder="Notification Description" ngbTooltip="Notification Description e.g. First Comment on Collaborate" ngDefaultControl>
            </div>
          </div>
        </div>

        <div class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">

              <button class="btn btn-primary btn-block" type="submit" (click)="broadcast()">Send to Everyone</button>

            </div>
          </div>
        </div>

      </ng-template>
    </ngb-tab>

    <ngb-tab title="Multicast">      
      <ng-template ngbTabContent>

        <div class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">

              <select class="custom-select d-block w-100 form-control" id="notification-type" required="" ngbTooltip="Kind of Notification e.g. Push or In-App" [(ngModel)]="notification.Kind">
                <option value="">Choose a kind...</option>
                <option *ngFor="let kind of kinds" [ngValue]="kind" ngDefaultControl>{{ kind }}</option>
              </select>

            </div>
          </div>
        </div>

        <div class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">

              <select class="custom-select d-block w-100 form-control" id="notification-type" required="" ngbTooltip="Type of Notification e.g. Badge or Quiz" [(ngModel)]="notification.Type">
                <option value="">Choose a type...</option>
                <option *ngFor="let type of types" [ngValue]="type" ngDefaultControl>{{ type }}</option>
              </select>

            </div>
          </div>
        </div>

        <div *ngIf="notification?.Type === 'Poll'" class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">

              <select class="custom-select d-block w-100 form-control" id="notification-poll" required="" ngbTooltip="Poll e.g. Poll1 or Poll2" [(ngModel)]="notification.PollId">
                <option value="">Choose a poll...</option>
                <option *ngFor="let poll of polls" [ngValue]="poll.Id" ngDefaultControl>{{ poll.Name }}</option>
              </select>

            </div>
          </div>
        </div>

        <div *ngIf="notification?.Type === 'Forum'" class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">

              <select class="custom-select d-block w-100 form-control" id="notification-forum" required="" ngbTooltip="Forum e.g. Forum1 or Forum2" [(ngModel)]="notification.ForumId">
                <option value="">Choose a forum...</option>
                <option *ngFor="let forum of forums" [ngValue]="forum.Id" ngDefaultControl>{{ forum.Name }}</option>
              </select>

            </div>
          </div>
        </div>

        <div *ngIf="notification?.Type === 'Topic'" class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">

              <select class="custom-select d-block w-100 form-control" id="notification-topic" required="" ngbTooltip="Topic e.g. Topic1 or Topic2" [(ngModel)]="notification.TopicId">
                <option value="">Choose a topic...</option>
                <option *ngFor="let topic of topics" [ngValue]="topic.Id" ngDefaultControl>{{ topic.Name }}</option>
              </select>

            </div>
          </div>
        </div>

        <div *ngIf="notification?.Type === 'Reward'" class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">

              <select class="custom-select d-block w-100 form-control" id="notification-reward" required="" ngbTooltip="Reward e.g. Coupon for Starbucks or Voucher for Walmart" [(ngModel)]="notification.RewardId">
                <option value="">Choose a reward...</option>
                <option *ngFor="let reward of rewards" [ngValue]="reward.Id" ngDefaultControl>{{ reward.Name }}</option>
              </select>

            </div>
          </div>
        </div>

        <div *ngIf="notification?.Type === 'Badge'" class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">

              <select class="custom-select d-block w-100 form-control" id="notification-badge" required="" ngbTooltip="Badge e.g. Fit to Fly or Comet Rider" [(ngModel)]="notification.BadgeId">
                <option value="">Choose a badge...</option>
                <option *ngFor="let badge of badges" [ngValue]="badge.Id" ngDefaultControl>{{ badge.Name }}</option>
              </select>

            </div>
          </div>
        </div>

        <div class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">

              <select class="custom-select d-block w-100 form-control" id="notification-group" required="" ngbTooltip="Group e.g. Group1 or Group2" [(ngModel)]="notification.TargetGroup">
                <option value="">Choose a group...</option>
                <option *ngFor="let group of groups" [ngValue]="group.Id" ngDefaultControl>{{ group.Name }}</option>
              </select>

            </div>
          </div>
        </div>

        <div class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <input [(ngModel)]="notification.Title" class="form-control" id="notification-title" type="text" placeholder="Notification Title" ngbTooltip="Notification Title e.g. Enthu Cookie" ngDefaultControl>
            </div>
          </div>
        </div>

        <div class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <input [(ngModel)]="notification.Description" class="form-control" id="notification-description" type="text" placeholder="Notification Description" ngbTooltip="Notification Description e.g. First Comment on Collaborate" ngDefaultControl>
            </div>
          </div>
        </div>

        <div class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">

              <button class="btn btn-primary btn-block" type="submit" (click)="broadcast()">Send to Everyone</button>

            </div>
          </div>
        </div>

      </ng-template>
    </ngb-tab>

    <ngb-tab title="Unicast">
      <ng-template ngbTabContent>

        <div class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">

              <select class="custom-select d-block w-100 form-control" id="notification-type" required="" ngbTooltip="Kind of Notification e.g. Push or In-App" [(ngModel)]="notification.Kind">
                <option value="">Choose a kind...</option>
                <option *ngFor="let kind of kinds" [ngValue]="kind" ngDefaultControl>{{ kind }}</option>
              </select>

            </div>
          </div>
        </div>

        <div class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">

              <select class="custom-select d-block w-100 form-control" id="notification-type" required="" ngbTooltip="Type of Notification e.g. Badge or Quiz" [(ngModel)]="notification.Type">
                <option value="">Choose a type...</option>
                <option *ngFor="let type of types" [ngValue]="type" ngDefaultControl>{{ type }}</option>
              </select>

            </div>
          </div>
        </div>

        <div *ngIf="notification?.Type === 'Poll'" class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">

              <select class="custom-select d-block w-100 form-control" id="notification-poll" required="" ngbTooltip="Poll e.g. Poll1 or Poll2" [(ngModel)]="notification.PollId">
                <option value="">Choose a poll...</option>
                <option *ngFor="let poll of polls" [ngValue]="poll.Id" ngDefaultControl>{{ poll.Name }}</option>
              </select>

            </div>
          </div>
        </div>

        <div *ngIf="notification?.Type === 'Forum'" class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">

              <select class="custom-select d-block w-100 form-control" id="notification-forum" required="" ngbTooltip="Forum e.g. Forum1 or Forum2" [(ngModel)]="notification.ForumId">
                <option value="">Choose a forum...</option>
                <option *ngFor="let forum of forums" [ngValue]="forum.Id" ngDefaultControl>{{ forum.Name }}</option>
              </select>

            </div>
          </div>
        </div>

        <div *ngIf="notification?.Type === 'Topic'" class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">

              <select class="custom-select d-block w-100 form-control" id="notification-topic" required="" ngbTooltip="Topic e.g. Topic1 or Topic2" [(ngModel)]="notification.TopicId">
                <option value="">Choose a topic...</option>
                <option *ngFor="let topic of topics" [ngValue]="topic.Id" ngDefaultControl>{{ topic.Name }}</option>
              </select>

            </div>
          </div>
        </div>

        <div *ngIf="notification?.Type === 'Reward'" class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">

              <select class="custom-select d-block w-100 form-control" id="notification-reward" required="" ngbTooltip="Reward e.g. Coupon for Starbucks or Voucher for Walmart" [(ngModel)]="notification.RewardId">
                <option value="">Choose a reward...</option>
                <option *ngFor="let reward of rewards" [ngValue]="reward.Id" ngDefaultControl>{{ reward.Name }}</option>
              </select>

            </div>
          </div>
        </div>

        <div *ngIf="notification?.Type === 'Badge'" class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">

              <select class="custom-select d-block w-100 form-control" id="notification-badge" required="" ngbTooltip="Badge e.g. Fit to Fly or Comet Rider" [(ngModel)]="notification.BadgeId">
                <option value="">Choose a badge...</option>
                <option *ngFor="let badge of badges" [ngValue]="badge.Id" ngDefaultControl>{{ badge.Name }}</option>
              </select>

            </div>
          </div>
        </div>

        <div class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">

              <select class="custom-select d-block w-100 form-control" id="notification-user" required="" ngbTooltip="User e.g. User1 or User2" [(ngModel)]="notification.TargetUser">
                <option value="">Choose a user...</option>
                <option *ngFor="let user of users" [ngValue]="user.Id" ngDefaultControl>{{ user.Name }}</option>
              </select>

            </div>
          </div>
        </div>

        <div class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <input [(ngModel)]="notification.Title" class="form-control" id="notification-title" type="text" placeholder="Notification Title" ngbTooltip="Notification Title e.g. Enthu Cookie" ngDefaultControl>
            </div>
          </div>
        </div>

        <div class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <input [(ngModel)]="notification.Description" class="form-control" id="notification-description" type="text" placeholder="Notification Description" ngbTooltip="Notification Description e.g. First Comment on Collaborate" ngDefaultControl>
            </div>
          </div>
        </div>

        <div class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">

              <button class="btn btn-primary btn-block" type="submit" (click)="broadcast()">Send to Everyone</button>

            </div>
          </div>
        </div>

      </ng-template>
    </ngb-tab>

  </ngb-tabset>

</main>


<!--Footer-->
<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">© 2017-2018 ShotClasses</p>
</footer>
