<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <form class="form-signin form-align-center">
    <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
    <input class="form-control mb-3" id="login" autofocus="" required="" type="text" placeholder="ID">
    <input class="form-control mb-3" id="inputPassword" required="" type="password" placeholder="Password">
    <button class="btn btn-lg btn-primary btn-block mb-3" type="submit" routerLink="/dashboard">Sign In</button>
  </form>
</div>
