<!--Header-->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">Notification V2</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/dashboard">Dashboard</a>
    <a class="p-2 text-dark" routerLink="/registration">Registration</a>
    <a class="p-2 text-dark" routerLink="/notification">Notification</a>
  </nav>
  <a class="btn btn-outline-primary" routerLink="/login">Sign Out</a>
</div>


<!--Main-->
<main role="main" class="container">
  
  <ngb-tabset [justify]="currentJustify">

    <ngb-tab title="Registrations">
      <ng-template ngbTabContent>
        <div class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">@Handle | @Tag</strong>
              <a href="#" ngbTooltip="Not Implemented">Send</a>
            </div>
            <span class="d-block">Android</span>
          </div>
        </div>
        <div class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">@Handle | @Tag</strong>
              <a href="#" ngbTooltip="Not Implemented">Send</a>
            </div>
            <span class="d-block">Apple</span>
          </div>
        </div>
        <div class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">@Handle | @Tag</strong>
              <a href="#" ngbTooltip="Not Implemented">Send</a>
            </div>
            <span class="d-block">Android</span>
          </div>
        </div>
        <small class="d-block text-right mt-3">
          <a href="#" ngbTooltip="Not Implemented">All Devices</a>
        </small>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Notifications">
      <ng-template ngbTabContent>
        <div *ngFor="let notification of notifications" class="media text-muted pt-3">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">{{notification.Title}}</strong>
            {{notification.Description}}
          </p>
        </div>
        <!--<div class="media text-muted pt-3">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">@Handle | Apple</strong>
            Thank you for voting on the Poll.
          </p>
        </div>
        <div class="media text-muted pt-3">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">@Handle | Android</strong>
            There's a new Quiz available to you.
          </p>
        </div>-->
        <small class="d-block text-right mt-3">
          <a href="#" ngbTooltip="Not Implemented">All Notifications</a>
        </small>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>

</main>


<!--Footer-->
<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">© 2017-2018 ShotClasses</p>
</footer>
